<form [formGroup]="addExamDetails" (ngSubmit)="submit()" style="padding: 0 40px;margin-top: 24px">

    <div class="row m-t-20">

    <!-- Exam Centre -->
    <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
      display: flex !important;
      align-items: center !important;">Exam Centre
            </mat-label>
            <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">*</span>
        </div>

        <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select formControlName="examCentre" required placeholder="Select Exam Centre">
                <mat-option *ngFor="let item of examCentre" [value]="item">
                    {{ item }}
                </mat-option>

            </mat-select>
            <mat-error *ngIf="addExamDetails.get('examCentre')?.hasError('required')">
                Exam Centre Name Is Required
            </mat-error>

        </mat-form-field>


    </div>


    <!-- Exam Slot -->
    <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
      display: flex !important;
      align-items: center !important;">Exam Slot
            </mat-label>
            <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">*</span>
        </div>

        <mat-form-field appearance="outline" class="w-100" color="primary">
            <mat-select formControlName="examSlot" required placeholder="Select Exam Slot">
                <mat-option *ngFor="let item of examSlot" [value]="item">
                    {{ item }}
                </mat-option>

            </mat-select>
            <mat-error *ngIf="addExamDetails.get('examSlot')?.hasError('required')">
                Exam Slot Name Is Required
            </mat-error>

        </mat-form-field>


    </div>


          <!-- Paper Type -->
          <div class="col-lg-6">

            <div style="display: flex;margin-bottom: 0.3rem;">

                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
      display: flex !important;
      align-items: center !important;">Paper Type
                </mat-label>
                <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">*</span>
            </div>

            <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-select formControlName="paperType" required placeholder="Select Paper Type">
                    <mat-option *ngFor="let item of paperType" [value]="item">
                        {{ item }}
                    </mat-option>

                </mat-select>
                <mat-error *ngIf="addExamDetails.get('paperType')?.hasError('required')">
                    Paper Type Name Is Required
                </mat-error>

            </mat-form-field>


        </div>

        <div class="col-lg-6">

            <div style="display: flex;margin-bottom: 0.3rem;">

                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">Total Count
                </mat-label>
                <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Only Numbers Allowed</span>
            </div>

            <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="text" formControlName="TotalCount" placeholder="Enter Total Count" required />
                <mat-icon matPrefix>
                    <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
                    icon
                </mat-icon>

                <mat-error *ngIf="addExamDetails.get('TotalCount')?.hasError('required')">
                    Total Count Is Required
                </mat-error>
                <mat-error
                    *ngIf="addExamDetails.get('TotalCount')?.hasError('pattern') && addExamDetails.get('TotalCount')?.invalid">
                    Enter Valid Total Count
                </mat-error>
            </mat-form-field>
        </div>

      

    </div>

    <div class="" style="margin-top:20px">
        <button mat-flat-button color="primary" type="submit" [disabled]="addExamDetails.invalid">Submit</button>
        <button mat-flat-button color="warn" class="m-l-8" type="reset" (click)="resetSearchForm()"
            style="margin-left: 12px;">Reset</button>
    </div>
</form>