<div class="container mb-2 ">
  <i class="bi bi-journal-text"></i>
  <span class="header-lablel">
    Exam Mode Details
  </span>
</div>

<mat-card class="cardWithShadow container">
  <mat-card-content>
    <form [formGroup]="examModeDetails" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-4">
          <div>
            <mat-label>Exam Mode</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="examMode" placeholder="Enter Exam Mode" required />
            <mat-error *ngIf="examModeDetails.get('examMode')?.hasError('required')">
              Exam Mode Is Required
            </mat-error>
            <mat-error
              *ngIf="examModeDetails.get('examMode')?.hasError('pattern') && examModeDetails.get('examMode')?.invalid">
              Enter Valid Exam Mode
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="mx-3">
        <button mat-flat-button color="primary" type="submit" [disabled]="examModeDetails.invalid"
          class="me-2">Submit</button>
        <button mat-flat-button color="warn" class="m-l-8" type="reset" (click)="resetSearchForm()">Reset</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow container mt-3">
  <mat-card-content>
    <div>
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Exam Mode</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of examModeData; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.exammode }}</td>
              <td>
                <div>
                 
                  <button class="rounded btn btn-warning btn-sm btn-circle bi bi-pencil me-2" (click)="editExamMode(item)"></button>
                  <button class="rounded btn btn-danger btn-sm btn-circle bi bi-trash3-fill" (click)="deleteExamMode(item)"></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>