<mat-card class="cardWithShadow container">


    <mat-card-content>
        
        <form [formGroup]="deviceForm" (ngSubmit)="submit()" style="padding: 0 40px;margin-top: 24px">

            <div class="row m-t-20">
              <div class="col-lg-6">
        
                <div style="display: flex;margin-bottom: 0.3rem;">
        
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
                  display: flex !important;
                  align-items: center !important;">Device Name
                  </mat-label>
                  <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only Alphanumeric Characters And Maximum 25 Characters </span>
                </div>
          
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="text" formControlName="deviceName" placeholder="Enter Device Name" required />
                  <mat-icon matPrefix>
                    <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
                    icon
                  </mat-icon>
          
                  <mat-error *ngIf="deviceForm.get('deviceName')?.hasError('required')">
                    Device Name Is Required
                  </mat-error>
                  <mat-error *ngIf="deviceForm.get('deviceName')?.hasError('pattern') && deviceForm.get('deviceName')?.invalid">
                    Enter Valid Device Name
                  </mat-error>
                </mat-form-field>
              </div>


            <div class="col-lg-6">
                    
                <div style="display: flex;margin-bottom: 0.3rem;">

                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
                display: flex !important;
                align-items: center !important;">Serial Number
                </mat-label>
                <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only Alphanumeric Characters And Maximum 25 Characters </span>
                </div>

                <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="text" formControlName="serialNumber" placeholder="Enter Serial Number" required />
                <mat-icon matPrefix>
                    <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
                    icon
                </mat-icon>

                <mat-error *ngIf="deviceForm.get('serialNumber')?.hasError('required')">
                    Serial Number Is Required
                </mat-error>
                <mat-error *ngIf="deviceForm.get('serialNumber')?.hasError('pattern') && deviceForm.get('serialNumber')?.invalid">
                    Enter Valid Serial Number
                </mat-error>
                </mat-form-field>
            </div>
        
           
            </div>

            <div class="" style="margin-top:20px">
                <button mat-flat-button color="primary" type="submit" [disabled]="deviceForm.invalid">Submit</button>
                <button mat-flat-button color="warn" class="m-l-8" type="reset" (click)="resetSearchForm()" style="margin-left: 12px;">Reset</button>
              </div>

            </form>
    </mat-card-content>

</mat-card>

<mat-card class="cardWithShadow container mt-3">


    <mat-card-content>
        <div>

            <div class="colorTable">
                        
                <!-- datatable [dtOptions]="dtOptions" -->
                <table  class="row-border hover">
                    <thead>
                      <tr>
                        <th>Sl No</th>
                        <th>Device Name</th>
                        <th>Serial Number</th>

                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of deviceData; let i = index">
                          <td>{{ i + 1 }}</td>
                          <td>{{ item.deviceName }}</td>
                          <td>{{ item.serialNo }}</td>

                          
                          <td>
                            <div style="display: flex;">
        
                                <button  (click)="editExamMode(item)">Edit</button>
                                <button (click)="deleteExamMode(item)">Delete</button>
                            </div>
                        </td>
                        </tr>
                      </tbody>
                  </table>
                  
            </div>
        
        </div>
    </mat-card-content>

</mat-card>