<mat-card class="cardWithShadow container">
  <mat-card-content>
    <form [formGroup]="addExamDetails" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-4">
          <div>
            <mat-label>Exam Name</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="examName" placeholder="Enter Exam Name" required />
            <mat-error *ngIf="addExamDetails.get('examName')?.hasError('required')">
              Exam Name Is Required
            </mat-error>
            <mat-error
              *ngIf="addExamDetails.get('examName')?.hasError('pattern') && addExamDetails.get('examName')?.invalid">
              Enter Valid Exam Name
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Client Name -->
        <div class="col-md-4">
          <div>
            <mat-label>Client Name</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="clientName" placeholder="Enter Client Name" required />
            <mat-error *ngIf="addExamDetails.get('clientName')?.hasError('required')">
              Client Name Is Required
            </mat-error>
            <mat-error
              *ngIf="addExamDetails.get('clientName')?.hasError('pattern') && addExamDetails.get('clientName')?.invalid">
              Enter Valid Client Name
            </mat-error>
          </mat-form-field>
        </div>
        <!-- No Of Examdays -->
        <div class="col-md-4">
          <div>
            <mat-label >No Of Examdays</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="numberOfExamDay" placeholder="Entre No Of Examdays" required />
            <mat-error *ngIf="addExamDetails.get('numberOfExamDay')?.hasError('required')">
              No Of Examdays Is Required
            </mat-error>
            <mat-error
              *ngIf="addExamDetails.get('numberOfExamDay')?.hasError('pattern') && addExamDetails.get('numberOfExamDay')?.invalid">
              Enter Valid No Of Examdays
            </mat-error>
          </mat-form-field>
        </div>
        <!-- No Of Examslot -->
        <div class="col-md-4">
          <div>
            <mat-label >No Of Examslot</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="numberOfExamSlot" placeholder="Enter No Of Examslot"
              required />
            <mat-error *ngIf="addExamDetails.get('numberOfExamSlot')?.hasError('required')">
              No Of Examslot Is Required
            </mat-error>
            <mat-error
              *ngIf="addExamDetails.get('numberOfExamSlot')?.hasError('pattern') && addExamDetails.get('numberOfExamSlot')?.invalid">
              Enter Valid No Of Examslot
            </mat-error>
          </mat-form-field>
        </div>
        <!-- No Of Regions -->
        <div class="col-md-4">
          <div>
            <mat-label > No Of Regions
            </mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="numberOfRegion" placeholder="Entre No Of Regions" required />
            <mat-error *ngIf="addExamDetails.get('numberOfRegion')?.hasError('required')">
              No Of Regions Is Required
            </mat-error>
            <mat-error
              *ngIf="addExamDetails.get('numberOfRegion')?.hasError('pattern') && addExamDetails.get('numberOfRegion')?.invalid">
              Enter Valid No Of Regions
            </mat-error>
          </mat-form-field>
        </div>
        <!-- No Of Centers -->
        <div class="col-md-4">
          <div>
            <mat-label >No Of Centres</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="numberOfCentres" placeholder="Entre No Of Centres" required />
            <mat-error *ngIf="addExamDetails.get('numberOfCentres')?.hasError('required')">
              No Of Centres Is Required
            </mat-error>
            <mat-error
              *ngIf="addExamDetails.get('numberOfCentres')?.hasError('pattern') && addExamDetails.get('numberOfCentres')?.invalid">
              Enter Valid No Of Centres
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Mock Start Date -->
        <div class="col-md-4">
          <div>
            <mat-label >Mock Start Date</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="dp" placeholder="Mock Start Date Day/Month/Year"
              formControlName="mocStartDate" [min]="minDate" required>
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error *ngIf="addExamDetails.get('mocStartDate')?.hasError('required')">
              Mock Start Date Is Required
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Mock End Date -->
        <div class="col-md-4">
          <div>
            <mat-label >Mock End Date</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="dpMocEndDate" placeholder="Mock End Date Day/Month/Year"
              formControlName="mocEndDate" [min]="minDate" required>
            <mat-datepicker-toggle matSuffix [for]="dpMocEndDate"></mat-datepicker-toggle>
            <mat-datepicker #dpMocEndDate startView="multi-year" panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error *ngIf="addExamDetails.get('mocEndDate')?.hasError('required')">
              Mock End Date Is Required
            </mat-error>
            <mat-error *ngIf="addExamDetails.get('mocEndDate')?.hasError('dateRangeInvalid')">
              Mock End Date must be greater than or equal to Mock Start Date.
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Exam Start Date -->
        <div class="col-md-4">
          <div>
            <mat-label >Exam Start Date</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="dpExamStartDate" placeholder="Exam Start Date Day/Month/Year"
              formControlName="examStartDate" [min]="minDate" required>
            <mat-datepicker-toggle matSuffix [for]="dpExamStartDate"></mat-datepicker-toggle>
            <mat-datepicker #dpExamStartDate startView="multi-year" panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error *ngIf="addExamDetails.get('examStartDate')?.hasError('required')">
              Exam Start Date Is Required
            </mat-error>
            <mat-error *ngIf="addExamDetails.get('examStartDate')?.hasError('dateRangeInvalid')">
              Exam Start Date must be greater than or equal to Mock End Date.
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Exam End Date -->
        <div class="col-md-4">
          <div>
            <mat-label >Exam End Date</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="dpExamEndDate" placeholder="Exam End Date Day/Month/Year"
              formControlName="examEndDate" [min]="minDate" required>
            <mat-datepicker-toggle matSuffix [for]="dpExamEndDate"></mat-datepicker-toggle>
            <mat-datepicker #dpExamEndDate startView="multi-year" panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error *ngIf="addExamDetails.get('examEndDate')?.hasError('required')">
              Exam End Date Is Required
            </mat-error>
            <mat-error *ngIf="addExamDetails.get('examEndDate')?.hasError('dateRangeInvalid')">
              Exam End Date must be greater than or equal to Exam Start Date.
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Exam Hash -->
        <div class="col-md-4">
          <div>
            <mat-label >Exam Hash</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="examHash" placeholder="Entre Exam Hash" required />
            <mat-error *ngIf="addExamDetails.get('examHash')?.hasError('required')">
              Exam Hash Is Required
            </mat-error>
            <mat-error
              *ngIf="addExamDetails.get('examHash')?.hasError('pattern') && addExamDetails.get('examHash')?.invalid">
              Enter Valid Exam Hash
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Exam Code -->
        <div class="col-md-4">
          <div>
            <mat-label >Exam Code</mat-label>
          </div>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput type="text" formControlName="examCode" placeholder="Entre Exam Code" required />
            <mat-error *ngIf="addExamDetails.get('examCode')?.hasError('required')">
              Exam Code Is Required
            </mat-error>
            <mat-error>
              *ngIf="addExamDetails.get('examCode')?.hasError('pattern') && addExamDetails.get('examCode')?.invalid">
              Enter Valid Exam Code
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="mx-3">
        <button mat-flat-button color="primary" class="me-2" type="submit" [disabled]="addExamDetails.invalid">Update</button>
        <button mat-flat-button color="warn" type="button" (click)="cancleEdit()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>