<mat-card class="cardWithShadow container">
    <mat-card-content>
        <mat-tab-group  (selectedIndexChange)="tabChanged($event)">
            <mat-tab label="Add Exam Details">
                <app-add-exam-details *ngIf="selectedTab == 0"></app-add-exam-details>
            </mat-tab>
            <mat-tab label="View Exam Details">
               <app-view-exam-details *ngIf="selectedTab == 1"></app-view-exam-details>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>