<form [formGroup]="addExamDetails" (ngSubmit)="submit()" style="padding: 0 40px;margin-top: 24px">

    <div class="row m-t-20">
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">Exam Name
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only
            Alphanumeric Characters And Maximum 25 Characters</span>
        </div>
  
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="examName" placeholder="Enter Exam Name" required />
          <mat-icon matPrefix>
            <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('examName')?.hasError('required')">
            Exam Name Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('examName')?.hasError('pattern') && addExamDetails.get('examName')?.invalid">
            Enter Valid Exam Name
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Client Name -->
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">Client Name
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only
            Alphanumeric Characters And Maximum 25 Characters</span>
        </div>
  
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="clientName" placeholder="Enter Client Name" required />
          <mat-icon matPrefix>
            <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('clientName')?.hasError('required')">
            Client Name Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('clientName')?.hasError('pattern') && addExamDetails.get('clientName')?.invalid">
            Enter Valid Client Name
          </mat-error>
        </mat-form-field>
      </div>


      <!-- No Of Examdays -->
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">No Of Examdays
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only
            Numbers</span>
        </div>
  
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="numberOfExamDay" placeholder="Entre No Of Examdays" required />
          <mat-icon matPrefix>
            <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('numberOfExamDay')?.hasError('required')">
            No Of Examdays Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('numberOfExamDay')?.hasError('pattern') && addExamDetails.get('numberOfExamDay')?.invalid">
            Enter Valid No Of Examdays
          </mat-error>
        </mat-form-field>
      </div>

      <!-- No Of Examslot -->
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">No Of Examslot
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only
            Numbers</span>
        </div>
  
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="numberOfExamSlot" placeholder="Enter No Of Examslot" required />
          <mat-icon matPrefix>
            <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('numberOfExamSlot')?.hasError('required')">
            No Of Examslot Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('numberOfExamSlot')?.hasError('pattern') && addExamDetails.get('numberOfExamSlot')?.invalid">
            Enter Valid No Of Examslot
          </mat-error>
        </mat-form-field>
      </div>


      <!-- No Of Regions -->
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">     No Of Regions
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only
            Numbers</span>
        </div>
  
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="numberOfRegion" placeholder="Entre No Of Regions" required />
          <mat-icon matPrefix>
            <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('numberOfRegion')?.hasError('required')">
            No Of Regions Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('numberOfRegion')?.hasError('pattern') && addExamDetails.get('numberOfRegion')?.invalid">
            Enter Valid No Of Regions
          </mat-error>
        </mat-form-field>
      </div>

      <!-- No Of Centers -->
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">No Of Centres
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only
            Numbers</span>
        </div>
  
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="numberOfCentres" placeholder="Entre No Of Centres" required />
          <mat-icon matPrefix>
            <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('numberOfCentres')?.hasError('required')">
            No Of Centres Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('numberOfCentres')?.hasError('pattern') && addExamDetails.get('numberOfCentres')?.invalid">
            Enter Valid No Of Centres
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Mock Start Date -->
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">Mock Start Date
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">*</span>
        </div>
  
        <!-- <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="mocStartDate" placeholder="Entre Mock Start Date" required />
          <mat-icon matPrefix>
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('mocStartDate')?.hasError('required')">
            Mock Start Date Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('mocStartDate')?.hasError('pattern') && addExamDetails.get('mocStartDate')?.invalid">
            Enter Valid Mock Start Date
          </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="dp" placeholder="Mock Start Date Day/Month/Year" formControlName="mocStartDate"  [max]="maxDate" required>
            <mat-datepicker-toggle matSuffix [for]="dp" ></mat-datepicker-toggle>
           
            <!-- (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, dp)" -->
            <mat-datepicker #dp
                            startView="multi-year"
                           
                            panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error *ngIf="addExamDetails.get('mocStartDate')?.hasError('required')">
                Mock Start Date Is Required
            </mat-error>
          </mat-form-field>

      </div>


      <!-- Mock End Date -->
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">Mock End Date
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">*</span>
        </div>
  
        <!-- <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="mocEndDate" placeholder="Entre Mock End Date" required />
          <mat-icon matPrefix>
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('mocEndDate')?.hasError('required')">
            Mock End Date Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('mocEndDate')?.hasError('pattern') && addExamDetails.get('mocEndDate')?.invalid">
            Enter Valid Mock End Date
          </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="dpMocEndDate" placeholder="Mock End Date Day/Month/Year" formControlName="mocEndDate"  [max]="maxDate" required>
            <mat-datepicker-toggle matSuffix [for]="dpMocEndDate" ></mat-datepicker-toggle>
           
            <!-- (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, dp)" -->
            <mat-datepicker #dpMocEndDate
                            startView="multi-year"
                           
                            panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error *ngIf="addExamDetails.get('mocEndDate')?.hasError('required')">
                Mock End Date  Is Required
            </mat-error>
          </mat-form-field>

      </div>

      <!-- Exam Start Date -->
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">Exam Start Date
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* </span>
        </div>
  
        <!-- <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="examStartDate" placeholder="Entre Exam Start Date" required />
          <mat-icon matPrefix>
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('examStartDate')?.hasError('required')">
            Exam Start Date Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('examStartDate')?.hasError('pattern') && addExamDetails.get('examStartDate')?.invalid">
            Enter Valid Exam Start Date
          </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="dpExamStartDate" placeholder="Exam Start Date Day/Month/Year" formControlName="examStartDate"  [max]="maxDate" required>
            <mat-datepicker-toggle matSuffix [for]="dpExamStartDate" ></mat-datepicker-toggle>
           
            <!-- (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, dp)" -->
            <mat-datepicker #dpExamStartDate
                            startView="multi-year"
                           
                            panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error *ngIf="addExamDetails.get('examStartDate')?.hasError('required')">
                Exam Start Date Is Required
            </mat-error>
          </mat-form-field>

      </div>

      <!-- Exam End Date -->
      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">Exam End Date
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* </span>
        </div>
  
        <!-- <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="examEndDate" placeholder="Entre Exam End Date" required />
          <mat-icon matPrefix>
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('examEndDate')?.hasError('required')">
            Exam End Date Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('examEndDate')?.hasError('pattern') && addExamDetails.get('examEndDate')?.invalid">
            Enter Valid Exam End Date
          </mat-error>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="w-100">
            <input matInput [matDatepicker]="dpExamEndDate" placeholder="Exam End Date Day/Month/Year" formControlName="examEndDate"  [max]="maxDate" required>
            <mat-datepicker-toggle matSuffix [for]="dpExamEndDate" ></mat-datepicker-toggle>
           
            <!-- (yearSelected)="chosenYearHandler($event)"
                            (monthSelected)="chosenMonthHandler($event, dp)" -->
            <mat-datepicker #dpExamEndDate
                            startView="multi-year"
                           
                            panelClass="example-month-picker">
            </mat-datepicker>
            <mat-error *ngIf="addExamDetails.get('examEndDate')?.hasError('required')">
                Exam Start Date Is Required
            </mat-error>
          </mat-form-field>


      </div>

      <!-- Exam Hash -->

      <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">Exam Hash
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only Alphanumeric Characters And Maximum 25 Characters </span>
        </div>
  
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="examHash" placeholder="Entre Exam Hash" required />
          <mat-icon matPrefix>
            <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('examHash')?.hasError('required')">
            Exam Hash Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('examHash')?.hasError('pattern') && addExamDetails.get('examHash')?.invalid">
            Enter Valid Exam Hash
          </mat-error>
        </mat-form-field>
      </div>

       <!-- Exam Code -->

       <div class="col-lg-6">

        <div style="display: flex;margin-bottom: 0.3rem;">

          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
          display: flex !important;
          align-items: center !important;">Exam Code
          </mat-label>
          <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;">* Allow Only Alphanumeric Characters And Maximum 25 Characters </span>
        </div>
  
        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput type="text" formControlName="examCode" placeholder="Entre Exam Code" required />
          <mat-icon matPrefix>
            <!-- <i-tabler name="user" class="icon-20 d-flex"></i-tabler> -->
            icon
          </mat-icon>
  
          <mat-error *ngIf="addExamDetails.get('examCode')?.hasError('required')">
            Exam Code Is Required
          </mat-error>
          <mat-error *ngIf="addExamDetails.get('examCode')?.hasError('pattern') && addExamDetails.get('examCode')?.invalid">
            Enter Valid Exam Code
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="" style="margin-top:20px">
      <button mat-flat-button color="primary" type="submit" [disabled]="addExamDetails.invalid">Submit</button>
      <button mat-flat-button color="warn" class="m-l-8" type="reset" (click)="resetSearchForm()" style="margin-left: 12px;">Reset</button>
    </div>
  </form>