<div class="mt-2">
    <div >
        <table class="table table-striped">
            <thead>
              <tr>
                <th cope="col">S.No</th>
                <th cope="col">Exam Name</th>
                <th cope="col">Client Name</th>
                <th cope="col">Exam Start Date</th>
                <th cope="col">Exam End Date</th>
                <th cope="col">Mock Start Date</th>
                <th cope="col">Mock End Date</th>
                <th cope="col">Hash Key</th>
                <th cope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of examDetails; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.examname }}</td>
                  <td>{{ item.clientname }}</td>
                  <td>{{ item.exam_start_date }}</td>
                  <td>{{ item.exam_end_date }}</td>
                  <td>{{ item.mock_start_date }}</td>
                  <td>{{ item.mock_end_date }}</td>
                  <td>{{ item.exam_hash }}</td>
                  <td>
                    <div>
                        <button class="rounded btn btn-warning btn-sm btn-circle bi bi-pencil me-2" (click)="editExamDetails(item)"></button>
                        <button  class="rounded btn btn-danger btn-sm btn-circle bi bi-trash3-fill"  (click)="deleteExamDetails(item)"></button>
                    </div>
                </td>
                </tr>
              </tbody>
          </table>
    </div>
</div>
