<div *ngIf="!editable">

    <div class="colorTable">
                
        <!-- datatable [dtOptions]="dtOptions" -->
        <table  class="row-border hover">
            <thead>
              <tr>
                <th>Sl No</th>
                <th>Exam Centre</th>
                <th>Member Name</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of memberDetails; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.centreCode }}</td>
                    <td>{{ item.memberRole }}</td>
                    <td>{{ item.memberName }}</td> 
                  <td>
                    <div style="display: flex;">

                        <button  (click)="editExamDetails(item)">Edit</button>
                        <button (click)="deleteExamDetails(item)">Delete</button>
                    </div>
                </td>
                </tr>
              </tbody>
          </table>
          
    </div>

</div>

<div *ngIf="editable">
    <app-edit-ci-mapping [data]="editInput" (dataChanged)="onRegionChange($event)"></app-edit-ci-mapping>
</div>