<mat-card class="cardWithShadow container">
    <mat-card-content>
      <form [formGroup]="examSlotsFrom" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-md-4">
            <div>
              <mat-label>Exam Slot</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" formControlName="examSlot" placeholder="Enter Exam Slot" required
                (input)="onInputChange($event)" />
  
              <mat-error *ngIf="examSlotsFrom.get('examSlot')?.hasError('required')">
                Exam Slot Is Required
              </mat-error>
              <mat-error
                *ngIf="examSlotsFrom.get('examSlot')?.hasError('pattern') && examSlotsFrom.get('examSlot')?.invalid">
                Enter Valid Exam Slot
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="col-md-4">
            <div>
              <mat-label>Download Date</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput [matDatepicker]="dp" placeholder="dd/mm/yyyy"
                formControlName="downloadDate" required>
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker">
              </mat-datepicker>
              <mat-error *ngIf="examSlotsFrom.get('downloadDate')?.hasError('required')">
                Download Date Is Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <div>
              <mat-label>Download Time</mat-label>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="time" formControlName="downloadTime" placeholder="Enter Download Time" required />
              <mat-error *ngIf="examSlotsFrom.get('downloadTime')?.hasError('required')">
                Download Time Is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="mx-3">
          <button mat-flat-button color="primary" type="submit" [disabled]="examSlotsFrom.invalid">Update</button>
          <button mat-flat-button color="warn" class="m-l-8" type="button" (click)="cancleEdit()" style="margin-left: 12px;">Cancel</button>
        </div>
      </form>
    </mat-card-content>
</mat-card>