<div class="loin-container">
  <mat-card class="cardWithShadow container" style="width: 500px;">
    <mat-card-content>
      <div class="login-header">
        CMS
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submit()" style="padding: 0 40px;margin-top: 24px">
        <div class="row m-t-20">
          <div class="col-lg-12">
            <div style="display: flex;margin-bottom: 0.3rem;">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
                    display: flex !important;
                    align-items: center !important;">User Name
              </mat-label>
              <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;"></span>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" formControlName="userName" placeholder="Enter User Name" />
              <!-- <mat-icon matPrefix>
                      icon
                    </mat-icon> -->

              <mat-error *ngIf="loginForm.get('userName')?.hasError('required')">
                User Name Is Required
              </mat-error>
              <mat-error *ngIf="loginForm.get('userName')?.hasError('pattern') && loginForm.get('userName')?.invalid">
                Enter Valid User Name
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-lg-12">

            <div style="display: flex;margin-bottom: 0.3rem;">

              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16" style="margin-bottom: 0 !important;
                    display: flex !important;
                    align-items: center !important;">Password
              </mat-label>
              <span class="hintText" style="font-size: 0.8rem; margin-left: 10px; color: gray;"></span>
            </div>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="text" formControlName="password" placeholder="Enter Password" />
              <!-- <mat-icon matPrefix>
                      icon
                    </mat-icon> -->
              <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Password Is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="" style="margin-top:20px">
          <!-- [disabled]="loginForm.invalid" -->
          <button mat-flat-button color="primary" class="w-100" type="submit">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>